@using KitapSatis.Entities.ValueObject
@model UyelikViewModel
@{
    ViewBag.Title = "Üyelik Sayfası";
}

<link href="~/Content/giris-uye.css" rel="stylesheet" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style type="text/css">
    .validation-summary-errors{
        border: 2px dotted #a94442;
        background-color: #d76663;
        border-radius:8px;
    }
    .validation-summary-errors ul{
        list-style-type:none;
        padding:10px;
        color:#fff;
    }
</style>

@using (Html.BeginForm())
{
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center ">ÜYE OL</h1>
                </div>
                <div class="main-content">

                    @Html.ValidationSummary(false)
                    <div class="input-group ">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(model => model.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı Adı" })

                    </div>
                    <div class="input-group ">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(model => model.EMail, new { @class = "form-control", placeholder = "E-Posta Adresi" })

                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(model => model.Sifre, new { @class = "form-control", placeholder = "Şifre", type = "password" })

                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(model => model.ReSifre, new { @class = "form-control", placeholder = "Şifre Tekrar", type = "password" })

                    </div>

                   

                    <div class="form-group ">
                        <button type="submit" class="btn btn-danger btn-lg btn-block login-button">ÜYE OL</button>
                    </div>


                </div>
            </div>
        </div>
    </section>
}
